@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

$bg_color: #bc865c;
$light_color: #fffcf7;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Open Sans, sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

body {
	font-family: Open Sans, sans-serif;
	padding: 3rem;
	background-color: $bg_color !important;
}

nav {
	position: absolute;
	top: 3vh;
	right: 3vw;
	background-color: $light_color;
	border-radius: 50%;
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem 1.7rem;
	gap: 0.5rem;
  left: 3rem;
}

.burger span {
	width: 3rem;
	height: 0.5rem;
	background-color: $bg_color;
}

.container {
  border: 1px solid $light_color;
  border-radius: 0 0 20px 20px;
  color: $light_color;
	text-transform: uppercase;
  position: relative;
  height: 80vh;
  width: 100vw;
  padding: 20px 0 0 0;
  margin-top: 3rem;

  #left {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  #right{
    position: absolute;
    bottom: 6rem;
    right: 4rem;
    text-align: right;
  }

  #title {
    position: absolute;
    text-align: center;
    bottom: 0;
    background-color: $light_color;
    color: $bg_color;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    border-radius: 0 0 20px 20px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {

  .burger {
    padding: 1.4rem 1rem;
    gap: 0.3rem;
    left: 3rem;
  }
  
  .burger span {
    width: 2.1rem;
    height: 0.3rem;
  }

  #left {
    display: flex;
    top: 4rem;
    left: 4rem;
  }

  #right{
    display: flex;
    bottom: 6rem;
    right: 4rem;
    text-align: right;
  }

  #title {
    text-align: center;
    bottom: 0;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
  }
}